<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed to Retrieve Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='failed_to_retrieve_data.css') }}">
</head>
<body>
    <div class="container">
        <h1>Failed to Retrieve Data</h1>
        <div class="button-container">
            <a href="/" class="large-button">Home</a>
            <a href="/all_data" class="large-button">All Data</a>
        </div>
    </div>
</body>
</html>
